* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans";
  scrollbar-color: #d7edf1 #1c363c;
  scrollbar-face-color: #d7edf1;
  scrollbar-base-color: #1c363c;
  scrollbar-track-color: #1c363c
}

::-webkit-scrollbar-thumb {
  border-radius: 999999999px;
  background-color: #d7edf1
}

::-webkit-scrollbar-track {
  background-color: #1c363c
}

::-webkit-scrollbar {
  width: 10px
}

body {
  background-repeat: repeat-y;
  overflow-y: scroll
}

#kepala {
  text-align: center
}

.bubble {
  position: relative;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  display: table;
  font-weight: 700
}

.bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  border-top: 0 solid rgba(0, 0, 0, .6);
  border-left: 0 solid transparent;
  border-right: 0 solid transparent
}

.hasil {
  background-color: #fff;
  color: #3d3846
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.kolom {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row
}

.baris {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column
}

.flex * {
  margin: 0
}

.elipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

.atas h3,
.atas h4 {
  font-weight: 400
}

.atas h4 {
  color: #9a9996;
  max-width: 35%
}

.bawah,
.elipsis {
  white-space: nowrap
}

.bawah :first-child {
  margin-left: 0
}

.bawah img {
  vertical-align: middle
}

.sembunyi {
  opacity: 0
}

#daftar {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms
}

#navigasi {
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s
}

#cari {
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  position: relative
}

#cari .icon,
#cari input {
  position: absolute;
  border: 0
}

#cari,
#cari input {
  border-radius: 999999999px
}

#cari input {
  height: 100%;
  width: 100%;
  padding-bottom: .52%;
  outline: 0;
  color: #3d3846
}

#cari .icon {
  background-color: transparent
}

#cari .icon:hover {
  cursor: pointer
}

#cari input::-ms-clear {
  display: none;
  width: 0;
  height: 0
}

#cari input::-webkit-input-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input::-moz-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input:-ms-input-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input::placeholder {
  color: #9a9996;
  opacity: 1
}

.load {
  background-color: rgba(255, 255, 255, .8);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(50%, #fff), to(transparent));
  background-image: linear-gradient(to right, transparent 0, #fff 50%, transparent 100%);
  background-size: 50% 100%;
  background-repeat: repeat-y;
  -webkit-animation: lewat 1s ease-out 2s infinite;
  animation: lewat 1s ease-out 2s infinite
}

.load * {
  display: none
}

.load:hover {
  cursor: wait
}

.ambang {
  position: fixed;
  background-color: rgba(94, 182, 201, .8);
  box-shadow: 0 0 25px rgba(0, 0, 0, .45);
  width: 100%;
  top: 0;
  z-index: 999999999
}

.ambang #kunci {
  background-color: rgba(255, 255, 255, .9);
  color: #241f31
}

.ambang #cari input::-webkit-input-placeholder {
  color: #888
}

.ambang #cari input::-moz-placeholder {
  color: #888
}

.ambang #cari input:-ms-input-placeholder {
  color: #888
}

.ambang #cari input::placeholder {
  color: #888
}
