* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

html {
  background-repeat: no-repeat;
  /*
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#62a0ea), to(#57e389));
  background-image: -webkit-linear-gradient(right bottom, #57e389, #62a0ea);
  background-image: -o-linear-gradient(right bottom, #57e389, #62a0ea);
  background-image: linear-gradient(to right bottom, #62a0ea, #57e389);
  font-family: "Open Sans";
  padding-left: 6.5vw;
  padding-right: 6.5vw
}

header {
  text-align: center;
  margin-top: 17vw
}

header img {
  width: 44vw
}

.bubble {
  position: relative;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 3vw 3.8vw 3vw 3.8vw;
  left: 18vw;
  margin-bottom: -2.63vw;
  border-radius: 2.3vw;
  display: table;
  font-size: 4vw;
  font-weight: 700
}

.bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 18.9vw;
  border-top: 3vw solid rgba(0, 0, 0, .6);
  border-left: 3vw solid transparent;
  border-right: 3vw solid transparent
}

.hasil {
  background-color: #fff;
  border-radius: 4vw;
  padding: 3vw 4.8vw 4vw 4.8vw;
  margin-bottom: 6.5vw;
  color: #3d3846
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.flex * {
  margin: 0
}

.elipsis {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

.atas {
  margin-bottom: 2vw
}

.atas h3 {
  font-weight: 400;
  font-size: 5.8vw;
  margin-right: 3.5vw
}

.atas h4 {
  color: #9a9996;
  font-size: 3.9vw;
  font-weight: 400;
  max-width: 35%
}

.bawah {
  font-size: 3.7vw;
  white-space: nowrap
}

.bawah * {
  margin-left: 4.2vw
}

.bawah :first-child {
  margin-left: 0
}

.bawah img {
  max-height: 4.6vw;
  margin-top: -1.1vw;
  margin-right: 1.8vw;
  vertical-align: middle
}

#cari {
  position: relative;
  height: 11.8vw;
  max-width: 77vw;
  margin-top: 11.7vw;
  margin-bottom: 10vw
}

#cari input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 999999999px;
  border: none;
  outline: 0;
  padding: 0 0 .35vw 4.4vw;
  font-size: 4.35vw;
  color: #3d3846
}

#cari .icon {
  position: absolute;
  right: 3.5vw;
  top: 3.5vw;
  background-color: transparent;
  border: none
}

#cari img {
  height: 4.9vw
}

#cari .icon:hover {
  cursor: pointer
}

#cari input::-ms-clear {
  display: none;
  width: 0;
  height: 0
}

#cari input::-webkit-input-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input::-moz-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input:-ms-input-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input::placeholder {
  color: #9a9996;
  opacity: 1
}

@media (min-width:500px) {
  html {
    padding-left: 20pt;
    padding-right: 20pt
  }
  header {
    margin-top: 38pt
  }
  header img {
    width: 129pt
  }
  .bubble {
    padding: 8pt 10pt 8pt 10pt;
    left: 55pt;
    margin-bottom: -10pt;
    border-radius: 6pt;
    font-size: 10.5pt
  }
  .bubble::after {
    left: 45pt;
    border-width: 7pt 7pt 0 7pt
  }
  .hasil {
    border-radius: 12.3pt;
    padding: 10.5pt 15pt 14pt 15pt;
    margin-bottom: 20pt;
    max-width: 430pt
  }
  .atas {
    margin-bottom: 8pt
  }
  .atas h3 {
    font-size: 14.3pt;
    margin-right: 1.8pt
  }
  .atas h4 {
    color: #9a9996;
    font-size: 9.5pt
  }
  .bawah {
    font-size: 9.5pt
  }
  .bawah * {
    margin-left: 11pt
  }
  .bawah img {
    max-height: 12pt;
    margin-top: -.5pt;
    margin-right: 4.5pt
  }
  #cari {
    height: 28.5pt;
    max-width: 198pt;
    margin-top: 35pt;
    margin-bottom: 30pt
  }
  #cari input {
    padding: 0 0 1pt 11pt;
    font-size: 10.5pt
  }
  #cari .icon {
    right: 10pt;
    top: 8pt
  }
  #cari img {
    height: 11.8pt
  }
}
