* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans"
}

body {
  background-repeat: repeat-y
}

#kepala {
  text-align: center
}

.bubble {
  position: relative;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  display: table;
  font-weight: 700
}

.bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  border-top: 0 solid rgba(0, 0, 0, .6);
  border-left: 0 solid transparent;
  border-right: 0 solid transparent
}

.hasil {
  background-color: #fff;
  color: #3d3846
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.flex * {
  margin: 0
}

.elipsis {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

.atas h3 {
  font-weight: 400
}

.atas h4 {
  color: #9a9996;
  font-weight: 400;
  max-width: 35%
}

.bawah {
  white-space: nowrap
}

.bawah :first-child {
  margin-left: 0
}

.bawah img {
  vertical-align: middle
}

#cari {
  position: relative
}

#cari input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 999999999px;
  border: none;
  outline: 0;
  color: #3d3846
}

#cari .icon {
  position: absolute;
  background-color: transparent;
  border: none
}

#cari .icon:hover {
  cursor: pointer
}

#cari input::-ms-clear {
  display: none;
  width: 0;
  height: 0
}

#cari input::-webkit-input-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input::-moz-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input:-ms-input-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input::placeholder {
  color: #9a9996;
  opacity: 1
}

@media (max-width:499px) {
  body {
    background-image: -webkit-gradient(linear, left top, right top, from(#62a0ea), to(#5cc1b9));
    background-image: -webkit-linear-gradient(right, #5cc1b9, #62a0ea);
    background-image: -o-linear-gradient(right, #5cc1b9, #62a0ea);
    background-image: linear-gradient(to right, #62a0ea, #5cc1b9);
    padding-left: 21.6px;
    padding-right: 21.6px
  }
  #kepala {
    margin-top: 41.3px
  }
  #kepala img {
    width: 151.8px
  }
  .bubble {
    padding: 9px 10px 9px 11px;
    left: 12vw;
    margin-bottom: -9.5px;
    border-radius: 7px;
    font-size: 14px
  }
  .bubble::after {
    left: 44%;
    border-width: 8px
  }
  .hasil {
    border-radius: 13.5px;
    padding: 9px 13.8px 13px 13.8px;
    margin-bottom: 21.6px
  }
  .atas {
    margin-bottom: 6px
  }
  .atas h3 {
    font-size: 18.2px
  }
  .atas h3 {
    margin-right: 11px
  }
  .atas h4,
  .bawah {
    font-size: 14.5px
  }
  .bawah * {
    margin-left: 11px
  }
  .bawah img {
    max-height: 15.3px;
    margin-top: -1.5px;
    margin-right: 4.4px
  }
  #cari {
    height: 36.9px;
    max-width: 75vw;
    margin-top: 29px;
    margin-bottom: 32px
  }
  #cari input {
    padding-left: 14px;
    padding-bottom: 1.5px;
    font-size: 15.2px
  }
  #cari .icon {
    right: 10px;
    top: 11.5px
  }
  #cari img {
    height: 15px
  }
}

@media (min-width:500px) {
  body {
    background-image: -webkit-gradient(linear, left top, right top, from(#62a0ea), to(#5acca9));
    background-image: -webkit-linear-gradient(right, #5acca9, #62a0ea);
    background-image: -o-linear-gradient(right, #5acca9, #62a0ea);
    background-image: linear-gradient(to right, #62a0ea, #5acca9);
    padding-left: 29px;
    padding-right: 29px
  }
  #kepala {
    margin-top: 57px
  }
  #kepala img {
    width: 195px
  }
  .bubble {
    padding: 12px 14px 12px 15.5px;
    left: 100px;
    margin-bottom: -14px;
    border-radius: 10px;
    font-size: 16px
  }
  .bubble::after {
    left: 25%;
    border-width: 10.8px
  }
  .hasil {
    border-radius: 18.6px;
    padding: 13px 20px 19px 20px;
    margin-bottom: 29.7px;
    max-width: 639.9px
  }
  .atas {
    margin-bottom: 6.5px
  }
  .atas h3 {
    font-size: 21.6px
  }
  .atas h3 {
    margin-right: 18px
  }
  .atas h4,
  .bawah {
    font-size: 14.5px
  }
  .bawah * {
    margin-left: 18px
  }
  .bawah img {
    max-height: 18.2px;
    margin-top: -2.5px;
    margin-right: 7px
  }
  #cari {
    height: 43px;
    max-width: 299.1px;
    margin-top: 52px;
    margin-bottom: 46px
  }
  #cari input {
    padding-left: 14.6px;
    font-size: 15.9px
  }
  #cari .icon {
    right: 14px;
    top: 12.6px
  }
  #cari img {
    height: 17.9px
  }
}
