* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans"
}

body {
  background-repeat: repeat-y;
  margin-left: calc(100vw - 100%);
  margin-right: 0
}

#kepala {
  text-align: center
}

.bubble {
  position: relative;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  display: table;
  font-weight: 700
}

.bubble::after {
  content: "";
  position: absolute;
  top: 100%;
  border-top: 0 solid rgba(0, 0, 0, .6);
  border-left: 0 solid transparent;
  border-right: 0 solid transparent
}

.hasil {
  background-color: #fff;
  color: #3d3846
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.kolom {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row
}

.baris {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column
}

.flex * {
  margin: 0
}

.elipsis {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

.atas h3 {
  font-weight: 400
}

.atas h4 {
  color: #9a9996;
  font-weight: 400;
  max-width: 35%
}

.bawah {
  white-space: nowrap
}

.bawah :first-child {
  margin-left: 0
}

.bawah img {
  vertical-align: middle
}

#cari {
  position: relative;
  border-radius: 999999999px;
}

#cari input {
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  padding-bottom: .52%;
  outline: 0;
  color: #3d3846;
  border-radius: 999999999px
}

#cari .icon {
  position: absolute;
  background-color: transparent;
  border: none
}

#cari .icon:hover {
  cursor: pointer
}

#cari input::-ms-clear {
  display: none;
  width: 0;
  height: 0
}

#cari input::-webkit-input-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input::-moz-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input:-ms-input-placeholder {
  color: #9a9996;
  opacity: 1
}

#cari input::placeholder {
  color: #9a9996;
  opacity: 1
}

.load {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(50%, #fff), to(transparent));
  background-image: linear-gradient(to right, transparent 0, #fff 50%, transparent 100%);
  background-size: 50% 100%;
  background-repeat: repeat-y;
  -webkit-animation: lewat 1s ease-out 2s infinite;
          animation: lewat 1s ease-out 2s infinite;
}

.load * {
  display: none
}

.load:hover {
  cursor: wait
}

@media (max-width:499px) {
  body {
    background-image: -webkit-linear-gradient(right, #5cc1b9, #62a0ea);
    background-image: -o-linear-gradient(right, #5cc1b9, #62a0ea);
    background-image: linear-gradient(to right, #62a0ea, #5cc1b9)
  }
  #daftar {
    padding-left: 21.6px;
    padding-right: 21.6px
  }
  #kepala {
    margin-top: 41.3px
  }
  #kepala img {
    width: 151.8px;
    height: 59.0667px
  }
  .bubble {
    padding: 9px 10px 9px 11px;
    left: 12vw;
    margin-bottom: -9.5px;
    border-radius: 7px;
    font-size: 14px
  }
  .bubble::after {
    left: 44%;
    border-width: 8px
  }
  .hasil {
    border-radius: 13.5px;
    padding: 9.3px 15px 12px 15px;
    margin-bottom: 21.6px;
    height: 72.7px
  }
  .atas h3 {
    font-size: 18.2px
  }
  .atas h3 {
    margin-right: 11px
  }
  .atas h4,
  .bawah {
    font-size: 14.5px
  }
  .bawah * {
    margin-left: 11px
  }
  .bawah img {
    max-height: 15.3px;
    margin-top: -1.5px;
    margin-right: 4.4px
  }
  .bawah p {
    /*! fix untuk Webview jadul (KitKat) */
    max-width: 32%
  }
  #cari {
    height: 36.9px;
    max-width: 75vw;
    margin-top: 29px;
    margin-bottom: 32px
  }
  #cari input {
    padding-left: 14px;
    font-size: 15.2px
  }
  #cari .icon {
    right: 10px;
    top: 11.5px
  }
  #cari img {
    height: 15px
  }
}

@media (min-width:500px) {
  body {
    background-image: -webkit-linear-gradient(right, #5acca9, #62a0ea);
    background-image: -o-linear-gradient(right, #5acca9, #62a0ea);
    background-image: linear-gradient(to right, #62a0ea, #5acca9)
  }
  #daftar {
    padding-left: 29px;
    padding-right: 29px
  }
  #kepala {
    margin-top: 57px
  }
  #kepala img {
    width: 195px;
    height: 75.8833px
  }
  .bubble {
    padding: 12px 14px 12px 15.5px;
    left: 100px;
    margin-bottom: -14px;
    border-radius: 10px;
    font-size: 16px
  }
  .bubble::after {
    left: 25%;
    border-width: 10.8px
  }
  .hasil {
    border-radius: 18.6px;
    padding: 16px 23px 19px 23px;
    margin-bottom: 29.7px;
    max-width: 639.9px;
    height: 98.6px
  }
  .atas h3 {
    font-size: 21.6px
  }
  .atas h3 {
    margin-right: 18px
  }
  .atas h4,
  .bawah {
    font-size: 14.5px
  }
  .bawah * {
    margin-left: 18px
  }
  .bawah img {
    max-height: 18.2px;
    margin-top: -2.5px;
    margin-right: 7px
  }
  #cari {
    height: 43px;
    max-width: 299.1px;
    margin-top: 52px;
    margin-bottom: 46px
  }
  #cari input {
    padding-left: 15px;
    font-size: 15.9px
  }
  #cari .icon {
    right: 14px;
    top: 12.6px
  }
  #cari img {
    height: 17.9px
  }
}

@-webkit-keyframes lewat {
  from {
    background-position: -100% 0
  }
  to {
    background-position: 200% 0
  }
}

@keyframes lewat {
  from {
    background-position: -100% 0
  }
  to {
    background-position: 200% 0
  }
}
