@mixin keyframes($nama) {
  @-webkit-keyframes #{$nama} {
    @content;
  }

  @keyframes #{$nama} {
    @content;
  }
}

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }
}

@mixin bg-gradasi($warna1, $warna2) {
  background-image: -webkit-linear-gradient(right, $warna2, $warna1);
  background-image: -o-linear-gradient(right, $warna2, $warna1);
  background-image: linear-gradient(to right, $warna1, $warna2);
}

@mixin baris {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin scrollbar($warna1, $warna2) {
  scrollbar-color: $warna1 $warna2;
  scrollbar-face-color: $warna1;
  scrollbar-base-color: $warna2;
  scrollbar-track-color: $warna2;

  &::-webkit-scrollbar-thumb {
    border-radius: 999999999px;
    background-color: $warna1;
  }

  &::-webkit-scrollbar-track {
    background-color: $warna2;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }
}

* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  @include scrollbar(#d7edf1, #1c363c);
  font-family: "Open Sans";

  input {
    font-family: "Open Sans";
  }

  body {
    background-repeat: repeat-y;
    overflow-y: scroll;
  }
}

#kepala {
  #bubble {
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: table;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      border-top: 0 solid rgba(0, 0, 0, 0.6);
      border-left: 0 solid transparent;
      border-right: 0 solid transparent;
    }

    #sidang {
      display: table-cell;
      vertical-align: middle;
    }
  }

  img {
    display: block;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;

  >* {
    margin: 0;
  }

  &.kolom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  &.baris {
    @include baris;
  }
}

.elipsis {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sembunyi {
  opacity: 0;
}

#daftar {
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;

  .hasil {
    background-color: #fff;
    color: #3d3846;

    .atas {
      h3 {
        font-weight: 400;
      }

      h4 {
        font-weight: 400;
        color: #9a9996;
        max-width: 35%;
      }
    }

    .bawah {
      white-space: nowrap;

      div:last-child {
        margin-right: 0;
      }

      .id {
        display: none;
      }

      span img {
        vertical-align: middle;
      }
    }
  }
}

#navigasi {
  -webkit-transition: box-shadow 1s;
  transition: box-shadow 1s;

  #cari {
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    position: relative;
    border-radius: 999999999px;

    .icon {
      position: absolute;
      border: 0;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      position: absolute;
      border: 0;
      border-radius: 999999999px;
      height: 100%;
      width: 100%;
      padding-bottom: .52%;
      outline: 0;
      color: #3d3846;

      &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
      }

      @include placeholder {
        color: #9a9996;
        opacity: 1;
      }
    }
  }

  &.ambang {
    position: fixed;
    background-color: rgba(94, 182, 201, 0.8);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
    width: 100%;
    top: 0;
    z-index: 999999999;

    #kunci {
      background-color: rgba(255, 255, 255, 0.9);
      color: #241f31;
    }

    #cari input {
      @include placeholder {
        color: #888;
      }
    }
  }
}

@include keyframes("lewat") {
  from {
    background-position: -100% 0;
  }

  to {
    background-position: 200% 0;
  }
}

.load {
  background-color: rgba(255, 255, 255, 0.8) !important;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(50%, #fff), to(transparent)) !important;
  background-image: linear-gradient(to right, transparent 0, #fff 50%, transparent 100%) !important;
  background-size: 50% 100% !important;
  background-repeat: repeat-y !important;
  -webkit-animation: lewat 1s ease-out 2s infinite;
  animation: lewat 1s ease-out 2s infinite;

  * {
    display: none;
  }

  &:hover {
    cursor: wait;
  }
}
