@import "core.scss";

$warna_aksen1: rgba(black, 0.6);
$warna_aksen2: #d7edf1;
$warna_aksen3: #1c363c;
$warna_teks1: #3d3846;
$warna_teks2: #241f31;
$warna_teks_dim1: #9a9996;
$warna_teks_dim2: #5e5c64;
$warna_nav: #5eb6c9;
$warna_bg1: #62a0ea;
$warna_bg2: #5acca9;
$warna_bg3: #5cc1b9;
$font: "Open Sans";

html {
  @include scrollbar($warna_aksen2, $warna_aksen3);
  font-family: $font;

  input {
    font-family: $font;
  }

  body {
    background-repeat: repeat-y;
    overflow-y: scroll;
  }
}

#kepala {
  #bubble {
    position: relative;
    background: $warna_aksen1;
    color: white;
    display: table;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      border-top: 0 solid $warna_aksen1;
      border-left: 0 solid transparent;
      border-right: 0 solid transparent;
    }

    > * {
      display: table-cell;
      vertical-align: middle;
    }
  }

  img {
    display: block;
  }
}

#daftar {
  @include transition(opacity 300ms);

  .hasil {
    @include transition(height 300ms);
    background-color: white;
    color: $warna_teks1;

    .atas {
      h3 {
        font-weight: 400;
      }

      h4 {
        font-weight: 400;
        color: $warna_teks_dim1;
        max-width: 35%;
      }
    }

    .bawah {
      white-space: nowrap;

      div:last-child {
        margin-right: 0;
      }

      .id {
        display: none;
      }

      span img {
        vertical-align: middle;
      }
    }
  }
}

#navigasi {
  @include transition(box-shadow 1s);

  #cari {
    @include transition(max-width 1s);
    position: relative;
    border-radius: $bulat;

    .icon {
      position: absolute;
      border: 0;
      background-color: transparent;

      &:hover {
        cursor: pointer;
      }
    }

    input {
      position: absolute;
      border: 0;
      border-radius: $bulat;
      height: 100%;
      width: 100%;
      outline: 0;
      color: $warna_teks1;

      &::-ms-clear {
        display: none;
        width: 0;
        height: 0;
      }

      @include placeholder {
        color: $warna_teks_dim1;
        opacity: 1;
      }
    }
  }

  &.ambang {
    position: fixed;
    background-color: rgba($warna_nav, 0.8);
    box-shadow: 0 0 25px rgba(black, 0.45);
    width: 100%;
    top: 0;
    z-index: $teratas;

    #kunci {
      background-color: rgba(white, 0.9);
      color: $warna_teks2;
    }

    #cari input {
      @include placeholder {
        color: $warna_teks_dim2;
      }
    }
  }
}
