@import "basic.scss";

$jarak-desktop: 29.7px;
$jarak-mobile: 21.6px;
$ukuran-mobile: 600px;

@mixin navigasi ($jarak, $pad, $tinggi, $lebar, $gambar, $font, $ambang, $l_ambang) {
  padding: 0 $jarak;
  margin-bottom: $pad;

  #cari {
    height: $tinggi;
    max-width: $lebar;

    input {
      padding: 0 ($tinggi * 0.98) interpolado(36.9px, 43px, 1.7px, 0, $tinggi) ($tinggi * 0.36);
      font-size: $font;
    }

    .icon {
      right: $tinggi * 0.3;
      top: tengahkan($tinggi, $gambar);

      img {
        height: $gambar;
      }
    }
  }

  &.ambang {
    padding: 0 $jarak;
    height: $ambang;

    #cari {
      top: tengahkan($ambang, $tinggi);
      max-width: $l_ambang;
    }
  }

  @at-root #navigasi-pad.pad {
    height: $pad + $tinggi;
  }
}

@media (max-width: $ukuran-mobile) {
  body {
    @include bg-gradasi($warna_bg1, $warna_bg3);
  }

  #daftar {
    @include daftar($jarak-mobile, 15px, 13.5px, 72.7px, none, 18.2px, 14.5px, 15.3px);

    .hasil {
      &:hover {
        cursor: pointer;
      }

      &.pilih {
        height: 120px;

        .bawah {
          @include align-items(start);
          @include baris;

          >* {
            margin-right: 0;
          }

          div {
            // fix untuk webkit
            max-width: 100%;

            span {
              display: inline-block;
              width: 26px;
            }
          }

          .id {
            display: inline-block;
          }
        }

        h4 {
          display: none;
        }
      }
    }
  }

  #navigasi {
    @include navigasi ($jarak-mobile, 32px, 36.9px, 75vw, 15px, 15.2px, 61px, 100vw);
  }

  #kepala {
    margin: 41.3px 0 29px 0;

    #bubble {
      padding: 0 8.7px 0 11px;
      height: 35px;
      left: 12vw;
      margin-bottom: -9.5px;
      border-radius: 7px;
      font-size: 14px;

      &::after {
        left: 44%;
        border-width: 8px;
      }
    }

    img {
      width: 151.8px;
      height: 59.0667px;
    }
  }
}

@media (min-width: $ukuran-mobile + 1px) {
  body {
    @include bg-gradasi($warna_bg1, $warna_bg2);
  }

  #daftar {
    @include daftar($jarak-desktop, 23px, 18.6px, 98.6px, 639.9px, 21.6px, 14.5px, 18.2px);
  }

  #navigasi {
    @include navigasi ($jarak-desktop, 46px, 43px, 299.1px, 17.9px, 15.9px, 80px, 480px);
  }

  #kepala {
    margin: 57px 0 52px 0;

    img {
      width: 195px;
      height: 75.8833px;
    }

    #bubble {
      padding: 0 12px 0 14.3px;
      height: 45px;
      left: 100px;
      margin-bottom: -14px;
      border-radius: 10px;
      font-size: 16px;

      &::after {
        left: 25%;
        border-width: 10.8px;
      }
    }
  }
}

@include reset-flex {
  #daftar .hasil .bawah div {
    max-width: none;
  }
}
