@import "basic.scss";

$jarak-desktop: 29.7px;
$jarak-mobile: 21.6px;
$ukuran-mobile: 600px;

@mixin daftar($jarak, $pad, $rad, $tinggi, $lebar, $font_h3, $font_h4, $gambar) {
  padding: 0 $jarak;

  .hasil {
    border-radius: $rad;
    padding: ($pad * 0.66) $pad ($pad * 0.81);
    margin-bottom: $jarak;
    max-width: $lebar;
    height: $tinggi;

    .atas {
      h3 {
        font-size: $font_h3;
        margin-right: $pad * 0.76;
      }

      h4 {
        font-size: $font_h4;
      }
    }

    .bawah {
      font-size: $font_h4;

      >* {
        margin-right: $pad * 0.76;
      }

      > div {
        // fix untuk webkit
        max-width: hapus-unit($tinggi) * 0.4 * 1%;

        span {
          margin-right: $pad * 0.3;

          img {
            height: $gambar;
            margin-top: $pad * 0.11 * -1;
          }
        }
      }
    }
  }
}

@mixin navigasi ($jarak, $pad, $tinggi, $lebar, $gambar, $font, $ambang, $l_ambang) {
  padding: 0 $jarak;
  margin-bottom: $pad;

  #cari {
    height: $tinggi;
    max-width: $lebar;

    input {
      padding: 0 ($tinggi * 0.98) interpolado(36.9px, 43px, 1.6px, 0, $tinggi) ($tinggi * 0.36);
      font-size: $font;
    }

    .icon {
      right: $tinggi * 0.3;
      top: tengahkan($tinggi, $gambar);

      img {
        height: $gambar;
      }
    }
  }

  &.ambang {
    padding: 0 $jarak;
    height: $ambang;

    #cari {
      top: tengahkan($ambang, $tinggi);
      max-width: $l_ambang;
    }
  }

  @at-root #navigasi-pad.pad {
    height: $pad + $tinggi;
  }
}

@mixin kepala($pad_atas, $pad_bawah, $tinggi_bubble, $kiri, $kiri_panah, $font, $l_gambar, $t_gambar) {
  margin: $pad_atas 0 $pad_bawah 0;

  #bubble {
    padding: 0 ($tinggi_bubble * 0.26) 0 ($tinggi_bubble * 0.32);
    height: $tinggi_bubble;
    left: $kiri;
    margin-bottom: $tinggi_bubble * 0.29 * -1;
    border-radius: $tinggi_bubble * 0.21;
    font-size: $font;

    &::after {
      left: $kiri_panah;
      border-width: $tinggi_bubble * 0.23;
    }
  }

  img {
    width: $l_gambar;
    height: $t_gambar;
  }
}

@media (max-width: $ukuran-mobile) {
  body {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include bg-gradasi($warna_bg1, $warna_bg3);
  }

  #daftar {
    @include daftar($jarak-mobile, 15px, 13.5px, 72.7px, none, 18.2px, 14.5px, 15.3px);

    .hasil {
      &:hover {
        cursor: pointer;
      }

      &.pilih {
        height: 120px;

        .bawah {
          @include align-items(start);
          @include baris;

          >* {
            margin-right: 0;
          }

          div {
            // fix untuk webkit
            max-width: 100%;

            span {
              display: inline-block;
              width: 26px;
            }
          }

          .id {
            display: inline-block;
          }
        }

        h4 {
          display: none;
        }
      }
    }
  }

  #navigasi {
    @include navigasi ($jarak-mobile, 32px, 36.9px, 75vw, 15px, 15.2px, 61px, 100vw);
  }

  #kepala {
    @include kepala(41.3px, 29px, 35px, 12vw, 44%, 14px, 151.8px, 59.0667px);
  }
}

@media (min-width: $ukuran-mobile + 1px) {
  body {
    @include bg-gradasi($warna_bg1, $warna_bg2);
  }

  #daftar {
    @include daftar($jarak-desktop, 23px, 18.6px, 98.6px, 639.9px, 21.6px, 14.5px, 18.2px);
  }

  #navigasi {
    @include navigasi ($jarak-desktop, 46px, 43px, 299.1px, 17.9px, 15.9px, 80px, 480px);
  }

  #kepala {
    @include kepala(57px, 52px, 45px, 100px, 25%, 16px, 195px, 75.8833px);
  }
}

@include reset-flex {
  #daftar .hasil .bawah div {
    max-width: none;
  }
}
